<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.2.12/pdfobject.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.7.107/pdf.min.js"></script>
    <link rel="stylesheet" href="/static/css/room.css">
</head>
<body>
    <div class="file_input">
        <button id="sign_contract_btn">Sign Contract</button>
    </div>
    <div id="sign_container">
    </div>
    <div class="read_file">
        <div class="btn_class">
            <button class="return_btn" id="return_btn"><i class="fa-solid fa-arrow-left"></i></button>
            <button class="next_btn" id="next_btn"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
        <div class="contract_viewer" id="pdf_viewer">
        </div>
    </div>
    <div class="chat-container">
        <div class="chat-header">
          <h2>Contract Chatting</h2>
        </div>
        <div class="chat-messages">
          <div class="chat-message">
            <span class="sender">사용자1:</span> 안녕하세요!
            <span class="timestamp">12:34 PM</span>
          </div>
          <div class="chat-message">
            <span class="sender">사용자2:</span> 반갑습니다.
            <span class="timestamp">12:35 PM</span>
          </div>
        </div>
        <div class="chat-input">
          <form id="chatForm">
            <input type="text" class="form-control" id="chatting_message" placeholder="input yout message">
            <input type="submit" value="Submit">
          </form>
        </div>
    </div>
    <div id="keyboard.chatting_message"></div>
    <div class="downFile" id="downSignPDF">
    </div>
    <script src="/static/js/modules/keyboard.module.js" type="module"></script>
    <script src="/static/js/room.js" type="module"></script>
</body>