<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MSCP Service</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.2.12/pdfobject.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.7.107/pdf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="https://unpkg.com/pdf-lib@1.17.1/dist/pdf-lib.min.js"></script>
    <link rel="stylesheet" href="/static/css/sample.css">
</head>
<body>
    <div class="webRTC">
        <div class="video_container">
            <video id="local" autoplay="true"></video>
            <video id="remote" autoplay="true"></video>
        </div>
    </div>
    <div class="chat-container">
        <div class="chat-content">
            <div class="chat-header">
                <h2>Contract Chatting</h2>
              </div>
              <div class="chat-messages" id="chat-form">
              </div>
              <div class="chat-input">
                <form id="chatForm">
                  <input type="text" class="form-control" id="chatting_message" placeholder="input yout message" size="100">
                </form>
                <button id="send_chat_btn">Submit</button>
            </div>
        </div>
    </div>
    <div class="read_file">
        <div class="pdf">
            <div class="contract_viewer" id="pdf_viewer">
                <div id="inputContainer"></div>
            </div>
        </div>
    </div>
    <div class="downFile" id="downSignPDF">
    </div>
    <div class="speak" id="speak"></div>
    <div class="setting-container">
        <div class="setting-content">
            <div class="setting-button">
                <div class="video-setting">
                    <button id="videoToggle"><i class="fa-solid fa-video fa-2xl"></i></button>
                    <button id="audioToggle"><i class="fa-solid fa-microphone fa-2xl"></i></button>
                </div>
                <div class="contract-setting">
                    <button id="sign_contract_btn"><i class="fa-solid fa-file-signature fa-2xl"></i></button>
                    <button id="load_contract_btn"><i class="fa-solid fa-play fa-2xl"></i></button>
                    <button id="speak_contract_btn"><i class="fa-solid fa-headphones-simple fa-2xl"></i></button>
                    <button id="next_btn"><i class="fa-solid fa-arrow-left fa-2xl"></i></button>
                    <button id="return_btn"><i class="fa-solid fa-arrow-right fa-2xl"></i></button>
                </div>
                <button class="exit_btn" id="close_contract_btn"><i class="fa-solid fa-right-from-bracket fa-2xl"></i></button>
            </div>
        </div>
    </div>
    <div class="popup" id="popupOverlay">
        <div class="popup-content">
            <h2 id="connect_message">계약룸 승인 요청</h2>
            <div class="popup-input-content">
                <div id="contract_sign_content">
                    <p id="sign_msg">teststestest</p>
                </div>
                <button type="submit" id="accept_sign_btn">승인하기</button>
                <button type="submit" style="background-color: red;" id="close_popup">취소하기</button>
            </div>
        </div>
    </div>
</body>