@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3 {
    font-family: 'TheJamsil5Bold';
}

p {
    font-family: 'SUITE-Regular';
}

body {
    background-color: #fafafc;
}

header {
    text-align: center;
    margin-top: 5rem;
}

.cta-section .cta-container {
    text-align: center;
    margin-top: 2rem;
    font-size: 20px;
}

.cta-section .cta-container button {
    font-size: 20px;
    width: 14rem;
    height: 3rem;
    border-radius: 10rem;
    font-weight: bold;
    color: white;
    background-color: #f49c03;
    border: none;
    margin-top: 2rem;
}

.features-section, .how-it-works-section, .about-us-section {
    text-align: center;
}

.features-container, .about-us-container { 
    margin-top: 10rem;
    margin-left: 50rem;
}

.features-container p, .how-it-works-section p, .about-us-section p  {
    font-size: 20px;
    margin-top: 2rem;
}

.how-it-works-section .how-it-works-container {
    margin-top: 10rem;
    margin-right: 50rem;
}

.about-us-section {
    padding-bottom: 5rem;
}

img {
    width: 50%;
}

.image_1 {
    position: absolute;
    margin-top: -15rem;
    margin-right: 50rem;
}

.image_2 {
    position: absolute;
    margin-top: -15rem;
    margin-left: 50rem;
}

.image_3 {
    position: absolute;
    margin-top: -15rem;
    margin-right: 50rem;
}